/* Alex Code Start */
/*  Alex Code End */
        
/*  Benni Code Start */
/*  Benni Code End */
        
/*  Faisal Code Start */
/*  Faisal Code End */
        
/* Merethes kode start */

/* Merethes kode slutt */


/**
*** SIMPLE GRID
*** (C) ZACH COLE 2016
**/

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

/* UNIVERSAL */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

/* ROOT FONT STYLES */

* {
  font-family: 'noto sans','Lato', Helvetica, sans-serif;
  color: #333447;
  line-height: 1.5;
}

/* TYPOGRAPHY */

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-heavy {
  font-weight: 700;
}

/* POSITIONING */

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}









/* Pinklets code */

/* menu */
/* bennis code */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.nav {
    z-index: 3;
    position: relative;
    margin-bottom: 100px;
}

.nav .meny ul{
    color: #002C39;
}

.nav .meny ul li{
    display: inline;
    color: white;
    font-size: 1em;
    padding: 0em 1em 0em 1em;
}

.nav .meny ul li a:hover{
  text-decoration: underline;
  color: #FF3D3D;
  transition: 0.5s;
}

.nav .meny ul li a{
  display: inline-block;
    color: white;
    text-decoration: none;
}

.nav .meny ul li a img{
 width: 14px;
}

.down{
  margin-left: 10px;
}

.logo{
    float: left;
    margin-top: 2.6em;
    margin-left: 20px;
}

.logo:hover{
  transform: scale(1.1);
  transition: 1s;
}



.meny{
    float: right;
    margin-top: 2em;
}


.logo img {
  width: 170px;
}

.nav .meny .lang a{
  color: #FF5F5F;
  /*border: 1px solid #FF5F5F;*/
  padding: 0 4px 0 4px;
  border-radius: 5px;
}

.nav .meny .lang a:hover{
  background-color: #FF5F5F;
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

.meny-line{
  border: 1.2px solid white;
  width: 82%;
  margin-right: 80px;
  opacity: 0.3;
}


/* Header background */
.background-img{
  background-image: url("image/studentsheader.jpg");
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  filter: blur(4px);
  width: 100%;
  height: 500px; 
  position: absolute;
  animation-name: imageheader;
  animation-iteration-count: infinite;
  animation-duration: 60s;
  animation-delay: 10s;
}

@keyframes imageheader{

  from {background-image: url("image/studenterbergen.jpg"); display: none;transition: 5s;}
  to {background-image: url("image/studentsheader.jpg"); display: block;transition: 5s;}
}

.backGround-filter{
  opacity: 0.8;
  width: 100%;
  height: 500px;
  position: absolute;
}

.dec-lines{
  opacity: 0.3;
  max-width: 3%;
  /*height: 126%;*/
  height: 87%;
  position: absolute;
  /*left: 15em;*/
  left: 40em;
  top: -10em;
  z-index: 2;
  /*transform: rotate(-50deg);*/
  transform: rotate(-35deg);
}

.dec-lines2{
  display: none;
  opacity: 0.3;
  max-width: 3%;
  height: 126%;
  position: absolute;
  /*right: 17em;*/
  right: 25em;
  top: -10em;
  z-index: 2;
  /*transform: rotate(24deg);*/
  transform: rotate(0deg);
}

.crum{
  float: left;
}

.crum ul{
  list-style-type: none;
  padding: 0;
  margin: 0;

}

.crum li{
  display: inline;

}

.crum li a{
  color: white;
  text-decoration: none;
}

.crum li a:hover{
  opacity: 0.5;
  transition: 0.5s;
}

.crum li{
  color: white;
}


.crum .crum-end a{
  color: #FF5F5F;
}

.title h1, h3{
  color: white;
}

.title h1{
  margin-top: -0.2em;
}

.title h3{
  margin-top: -0.8em;
  margin-bottom: 3em;
}


.apply{
  background-color: #FFF1F1;
  border-radius: 3px;
  padding:  0px 20px 0px 20px;
  z-index: 3;
  position: relative;
}

.btn a{
  background-color: #FF5F5F;
  width: 200px;
  float: right;
  padding: 1em;
  border-radius: 5px;
  margin: 2em 0 2em 0;
  text-align: center;
  color: white;
  text-decoration: none;
}

.btn a:hover{
  background-color: #FF3D3D;
  transition: 0.5s;
}

.apply p{
  margin-top: -1em;
}

.text-link{
  color: red;
}

.text-link:hover{
  opacity: 0.5;
  transition: 0.2s;
}

.gen-info{
  margin-top: 30px;
  
}
.gen-info h5, .gen-info2 h5{
  font-weight: bold;
  margin-bottom: -15px;
}

.header-sep-line{
  border: 3px solid #FFF1F1;

}


/* map */

.kart{
  margin-bottom: 3em;
}
/* Spørsmål */
.far{
  font-size: 1.5em;
}

.spørsmål p{
  margin-top: -1em;
}



/* bennis code end */












/* ==== GRID SYSTEM ==== */

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 45em) {  /* 720px */
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 60em) { /* 960px */
  .container {
    width: 75%;
    max-width: 60rem;
  }
}

/* Merethes kode*/

.sliderImg {  
    display: none  
}  
    .sliderImg img {  
        width: 100%;  
        border-radius: 2px;
        
    }  
.slidercontainer {  
    max-width: 1000px;  
    position: relative;  
    margin: auto;  
}  
.previous, .next {  
    cursor: pointer;  
    position: absolute; 
    top: 50%;  
    width: auto;  
    padding: 16px;  
    margin-top: -22px;  
    color: white;   
    font-size: 1.5em;  
    transition: 0.6s ease; 
}  
.next {  
    right: 0;     
}  

    .previous:hover, .next:hover {  
        color: rgba(115, 115, 115, 0.8);  
    }  

/* --- Fading --- */  
.fade {  
    -webkit-animation-name: fade;  
    -webkit-animation-duration: 1.5s;  
    animation-name: fade;  
    animation-duration: 1.5s;  
}  
@-webkit-keyframes fade {  
    from {  
        opacity: 0.8  
    }  
    to {  
        opacity: 1  
    }  
}  

@keyframes fade {  
    from {  
        opacity: 0.8  
    }  
    to {  
        opacity: 1  
    }  
}  




.RelNyheter{
    background-color: #FFF1F1; 
    height: 147px;
    font-family: Noto Sans, Helvetica, sans-serif;
}
footer{

    background-color: #012255;
    color: whitesmoke;
    font-family: Helvetica, Arial, sans-serif;
    display: grid;
    grid-template-columns: 10% 20% 20% 20% 20% 10%;
    grid-template-rows: 50% 50%;
    grid-row-gap: 20px;
    height: 500px;
    width: 101vw;
    margin-left: -1vw;
    margin-top: 20px;
    font-size: 1.2em;
}

.footerLogo{
    grid-column: 2/4;
    width: 50%;
    margin: 30px 10px 10px;
    
}

.kontaktInfo{
grid-column: 2/3;
margin: 0px 10px 10px;
}

.sortcutNavs{
    grid-column: 4/6;
    grid-row: 1;
    margin-top: 20px;
    text-align: right;
    
}

.sortcutNavs ul{
    padding: 0;
}

.sortcutNavs li{
    padding: 0;
    list-style: none;
    margin:25px;
}

.sosialeMedier{
    grid-column: 3/6;
    grid-row: 2;
    margin-top: 120px;
    text-align: right;
    font-size: 2em;
    
}

.sosialeMedier a{
    margin: 20px 20px;
    
}
/* Merethes kode slutt */
